<!-- views/signupCustomer.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCART - Cart Your Happiness</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/signupseller.css">
</head>
<body>
  <div class="container">
    <h2>Seller Signup</h2>
    <form action="/signup/seller" method="post">
      <label for="businessType">Business Type:</label>
      <input type="text" id="businessType" name="businessType" required>

      <label for="businessName">Business Name:</label>
      <input type="text" id="businessName" name="businessName" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      
      <label for="confirmpassword">Confirm Password:</label>
      <input type="password" id="confirmpassword" name="confirmpassword" required>
      
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      
      <label for="phoneNumber">Phone Number:</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" required>
      <label for="nid">NID:</label>
      <input type="number" id="nid" name="nid" required>
      
      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" name="birthday" required min="1000-01-01" max="<? php echo date('Y-m-d'); ?>">

      <label>Gender:</label>
      <input type="text" id="gender" name="gender" required>
      <!-- <h3>Address</h3> -->
      <label for="division">Division:</label>
      <input type="text" id="division" name="division" required>
      
      <label for="district">District:</label>
      <input type="text" id="district" name="district" required>
      
      <label for="upazila">Upazila:</label>
      <input type="text" id="upazila" name="upazila" required>
      
      <label for="thana">Thana:</label>
      <input type="text" id="thana" name="thana" required>
      
      <label for="zipcode">Zipcode:</label>
      <input type="number" id="zipcode" name="zipcode" required>
      
      <label for="roadNo">Road No:</label>
      <input type="number" id="roadNo" name="roadNo" required>
      
      <label for="houseNo">House No:</label>
      <input type="number" id="houseNo" name="houseNo" required>
      
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login/seller">Login</a></p>
    <p><a href="/">Go back to homepage</a></p>
  </div>
</body>
</html>